@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body style="background-color:orange">
    <img style="width:280px ; height:400px" src="/images/1.jpg" />

    <p class="lead"> Muhammad Zulqarnain Mughal</p>

    <p>He is Student of Pucit, and complete there Degree of MSc(CS) recently, Now days mostly working on Freelancing Projects. He is also very Good Athlete and formar Inter-University Player of Punjab University.</p>
    <p>His major sports is Cricket and he played at Region level and inter-Colagate level, and also he is the part of Cycling team who wins GOLD madel in 2013.</p>

</body>

</html>
   
       