@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
<body style="background-color:orange">

    <h2>Log In</h2>
    @if (ViewBag.message != null)
    {
        <label style="color:red;">@ViewBag.message</label>
    }
    <form method="post" action="/Home/Authenticate">
        <div class="row center-block">
            <div class="form-group">
                <label for="inputEmail" class="col-lg-7 control-label">Email</label>
                <div class="col-lg-7">
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>

                <label for="inputPassword" class="col-lg-7 control-label">Password</label>
                <div class="col-lg-7">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                    <br />
                    <div class="col-lg-2 pull-right">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>

                </div>
            </div>

        </div>
    </form>
</body>

</html>
